<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Oslive</title>
</head>
<body>
<h3>OSLive</h3>
<h4>Paginação por demanda</h4>


<div>
    <h4>Memória Lógica</h4>        <!-- MEMÓRIA LÓGICA DE A-->
    <table class="table-sm tabela">
        <thead>
        <tr>
            <th>Página</th>
            <th>conteúdo</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>0</td>
            <td>A</td>
        </tr>
        <tr>
            <td>1</td>
            <td>A</td>
        </tr>
        <tr>
            <td>2</td>
            <td>A</td>
        </tr>
        <tr>
            <td>3</td>
            <td>A</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>